.content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include fade-in();

    @media (max-width: $desktop-breakpoint) {
        width: 100%;
    }
}

.content-container--page {
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.content-container--page--toggle {
    justify-content: center;

    @media (max-width: $desktop-breakpoint) {
        flex-flow: column nowrap;
    }
}

.full-width {
    width: 100%;
}

.container {
    display: flex;
}

.vertical-container {
    @extend .container;

    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.vertical-container--centered {
    justify-content: center;
    align-items: center;
}

.horizontal-container {
    @extend .container;

    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    > *:not(:first-child) {
        margin: 0px 5px;
    }
}

.horizontal-container--centered {
    justify-content: center;
    align-items: center;
}