.header {
    background: $main-color;
    margin-bottom: $m-size;
    width: 100%;
    padding: $m-size;

    @include inset-box-shadow();

    > * {
        @include fade-in();
    }
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    height: 100px;
}

 .header__nav-links__container {
     display: flex;
     flex-flow: row nowrap;
     align-items: flex-start;
     justify-content: space-between;
     width: 100%;
     height: 100%;

     @media (min-width: $desktop-breakpoint) {
         align-items: center;
     }
 }

.header__nav-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: $header-font;
    font-size: $font-size-large;

    @media (max-width: $desktop-breakpoint - .01rem) {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

.header__nav-link {
    cursor: pointer;
    background: none;
    border: none;
    color: $off-white;
    margin: $s-size !important;
    text-decoration: none;
    transition-property: border;
    transition-duration: .25s;
    border-bottom: 4px solid transparent;

    &:hover {
        border-bottom: 4px solid $off-white;
    }
}

.header__mobile-menu {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    z-index: 1;
    background-color: $main-color;
    box-shadow: 0px 0px 20px 2px rgba(71, 71, 71, 1);
    padding: $m-size;

    transition-property: display;
    transition-duration: 2s;
}

.header__mobile-menu__button {
    background: transparent;
    border: none;
    font-size: $font-size-xlarge;

    > i {
        color: $off-white;
        cursor: pointer;
    }
}