.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}

input[type="checkbox"] {
    cursor: pointer;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    padding: $s-size;
    border-radius: 4px;
    background: $off-white;
    color: $main-color;
    width: $s-size !important;
    height: $s-size;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
    width: 20px;
    height: 20px;
}

.SingleDatePickerInput {
    border-radius: 5px;
}

.react-datepicker {
    font-size: $font-size-large;
}