.page-layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: $desktop-breakpoint) {
        flex-flow: column nowrap;
    }
}

.page-layout__right-side {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}