@mixin box-shadow($offset-x: 3px,
                  $offset-y: 3px,
                  $blur-radius: 10px,
                  $spread-radius: 2px,
                  $color: rgba(71, 71, 71, .7)) {
    box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin inset-box-shadow($offset-x: 0,
                        $offset-y: 0,
                        $blur-radius: 20px,
                        $color: rgba(71, 71, 71, 1)) {
    box-shadow: inset $offset-x $offset-y $blur-radius $color;
}