// Colors
$dark-grey: #333333;
$grey: #666666;
$off-white: #f7f7f7;
$light-blue: #0C86BB;
$dark-blue: #364051;

$main-color: #0060AA;
$main-color-rgb: rgb(0, 96, 170);

$accent-color: #EC3B43;
$accent-color-rgb: rgb(236, 59, 67);

// Fonts
$header-font: 'Sarala', sans-serif;
$subheader-font: 'Sarala', sans-serif;

// Font Sizes
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2.4rem;
$font-size-xxlarge: 3.2rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;